
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
           
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 900px;
            margin: 20px auto;
            padding: 0;
        }
        .create-pin {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }
        .selected-image {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-group input, .form-group textarea, .form-group select {
            border-radius: 5px;
        }
        .publish-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #e60023;
            border-color: #e60023;
            color: #fff;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 50px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .create-pin-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="create-pin">
            <div class="create-pin-header">Create Pin</div>
           
            <form action="/createpost" enctype="multipart/form-data" method="post">
              <input required type="file" name="postimage">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title" placeholder="Add a title"  >
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea style="resize: none;" name="description" class="form-control" id="description" rows="3" placeholder="Add a detailed description"></textarea>
                </div>
              
               
                
                <input type="submit"  class="btn btn-danger"  id="submitbutton">
            </form>
        </div>
       
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
