<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest Feed</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
        color: #333;
      }

      header {
        background-color: black;
        color: white;
        padding: 1em;
        text-align: center;
        border-top: 1px solid white;
      }

      .pins-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;
        padding: 16px;
        background-color: black;
        color: white;
      }

      .pin {
        position: relative;
        background-color: black;

        overflow: hidden;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        background-color: black;
        height: fit-content;
        padding-bottom: 10px;
      }

      .pin:hover img {
        opacity: 0.5;
        transition: transform 0.6s ease-in-out;
      }

      .pin img {
        width: 100%;
        height: auto;

        transition: transform 0.6s ease-in-out;
      }

      .pin-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        transition: background 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0.8);
      }

      .pin:hover .pin-content {
        background: rgba(255, 255, 255, 0.95);
      }

      .pin h3 {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: white;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      footer {
        text-align: center;
        padding: 1em;
        background-color: #fff;
      }
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="w-100 bg-black text-white text-black d-flex align-items-center justify-content-around py-3"
    >
      <div class="d-flex align-items-center justify-content-center">
        <h5>Pinterest</h5>
      </div>
      <div class="d-flex gap-4">
        <a class="btn btn-primary" href="/profile">Profile</a>
        <a class="btn btn-primary" href="/feed">Home</a>
        <!-- <a class="btn btn-primary" href="/allposts">Posts</a> -->
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </nav>

    <header>
      <h1>Your Pins</h1>
    </header>

    <div class="pins-container">
      <% user.userposts.forEach(elem => { %>

      <div
        class="pin d-flex flex-column align-items-center justify-content-center"
      >
        <img src="<%=elem.image.url  %>" alt="Pin 1" />
        <h3><%= elem.title %></h3>

        <a class="btn btn-danger" href="/delete/<%= elem.id  %>">Delete</a>
      </div>

      <% }); %>
    </div>

    <footer>&copy; 2024 Pinterest Pins</footer>
  </body>
</html>
